<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

  
  
  <connectionStrings>
    <add name="ccport" connectionString="Server=localhost\sqldev01;Database=ccport;User Id=CCApp; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>
